<div class="container mt-5">
  <div>
    <% if params[:query].present? %>
      <h3 class="mt-5">Your selected skills</h3>
    <% else %>
      <h3 class="mt-5">All skills</h3>
    <% end %>
    <%= form_with url: skills_path, method: :get, class: "search-box-index" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-input",
        placeholder: "Find a skill"
      %>
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
  </div>

  <div class="cards mt-5">
    <% @skills.each do |skill| %>
      <a href="../skills/<%= skill.id%>" class='properlink'>
        <div class="card-trip">
          <img class="img-gray-scale" src=<%= skill.img_url ? skill.img_url : cl_image_path(skill.photo.key) %> />
          <div class="card-trip-infos">
              <div>
                <h2><%= "#{skill.name}" %></h2>
                <p><%= "Level #{skill.level}" %></p>
              </div>
              <h2 class="card-trip-pricing"><%= "#{skill.price}" %> €</h2>
          </div>
        </div>
      </a>
    <% end %>
  </div>

  <div class="mt-5">
    <h3>Your offered skills</h3>
  </div>
  <div class="cards mt-5">
    <% @your_skills.each do |skill| %>
      <a href="../skills/<%= skill.id%>" class='properlink'>
        <div class="card-trip">
          <img class="img-gray-scale" src=<%= skill.img_url ? skill.img_url : cl_image_path(skill.photo.key) %> />
          <div class="card-trip-infos">
              <div>
                <h2><%= "#{skill.name}" %></h2>
                <p><%= "Level #{skill.level}" %></p>
              </div>
              <h2 class="card-trip-pricing"><%= "#{skill.price}" %> €</h2>
          </div>
        </div>
      </a>
    <% end %>
  </div>

</div>
