<div class="banner" style="background-image: url(<%= @skill.img_url %>)">
</div>
<div class="container my-5">
  <h2 class="my-4"> <%= @skill.name %> </h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="skill-card">
        <div class="skill-info1">
          <p><%= @skill.description %></p>
        </div>
        <div class="skill-info2">
          <p>Skill level: <strong><%= @skill.level %></strong></p>
          <p><strong><%= @skill.price %> €/day</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 mt-5">
      <%= render "bookings/form" %>
    </div>
  </div>
</div>


<%# <%= link_to "Edit this skill", edit_skill_path %>


<%# <%= link_to "Delete this skill", skill_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{@skill.name} from your skills?"} %>
