<div class="container my-5">
  <h2 class="mt-5">My skills</h2>
  <a class="btn btn-ghost mt-2 mb-4" href="skills/new">Add a new skill</a>
  <div class="row row-cols-3 row-cols-md-4 g-4">
    <% @skills.each do |skill| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="<%= skill.img_url ? skill.img_url : cl_image_path(skill.photo.key) %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> <%= skill.name %></h5>
            <p class="card-text"><%= skill.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Level: <%= skill.level %></li>
            <li class="list-group-item">Price: <%= skill.price %> €/day</li>
          </ul>
          <div class="card-body">
            <%= link_to "Edit my skill", edit_skill_path(skill), class: "card-link properlink" %>
            <%= link_to "Delete this skill", skill_path(skill), class: "card-link properlink", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{skill.name} from your skills?"} %>
          </div>
        </div>
      </div>

    <% end %>
  </div>


  <h2 class="mt-5 mb-3"><%= @bookings.size > 0 ? "My bookings" : "" %></h2>
  <div class="row row-cols-3 row-cols-md-4 g-4">
    <% @bookings.each do |booking| %>
    <div class="col">
      <div class="card text-white mb-3  <%= booking.status_confirmed? ? 'bg-primary' : 'bg-warning' %>" style="max-width: 18rem;">
        <div class="card-header">Booking <%= booking.status.capitalize %> <br> <%= booking.start_date.strftime("%d/%m/%Y") %> - <%= booking.end_date.strftime("%d/%m/%Y") %></div>
        <div class="card-body">
          <h5 class="card-title"> <strong><%= booking.skill.name %></strong></h5>
          <p class="card-text"> <%= booking.skill.description %></p>
          <p class="card-text"> Total price: <%= (booking.end_date - booking.start_date)/(60*60*24).to_i * booking.skill.price %> €</p>

          <%= link_to "Delete booking", booking_path(booking), class: "text-white properlink", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this booking from your skills?"} %>

        </div>
      </div>
    </div>
    <% end %>
  </div>


  <h2 class="mt-5 mb-3"><%= @booked.size > 0 ? "My booked" : "" %></h2>
  <div class="row row-cols-3 row-cols-md-4 g-4">
    <% @booked.each do |book| %>
    <div class="col">
      <div class="card text-white mb-3 <%= book.status_confirmed? ? 'bg-primary' : 'bg-warning' %>" style="max-width: 18rem;">
        <div class="card-header">Duration <br> <%= book.start_date.strftime("%d/%m/%Y") %> - <%= book.end_date.strftime("%d/%m/%Y") %></div>
        <div class="card-body">
          <h5 class="card-title"> <%= book.skill.name %></h5>
          <p class="card-text"> <%= book.skill.description %></p>
          <%= link_to "Confirm booking", confirm_booking_path(book), class: "text-white", data: { turbo_method: :put, turbo_confirm: "Are you sure you want to confirm this booking?"} %>
        </div>
      </div>
    </div>
    <% end %>
  </div>



</div>
