<h1>My skills</h1>
<% @skills.each do |skill| %>
  <%= skill.name %>
  <%= skill.description %>
  <%= skill.price %>
  <%= skill.level %>
  <%= link_to "Edit my skill", edit_skill_path(skill) %>
  <%= link_to "Delete this skill", skill_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{skill.name} from your skills?"} %>
<% end %>

<a class="btn btn-ghost" href="skills/new">Add a new skill</a>


<% @bookings.each do |booking| %>
  <ul>
    <li>
      <%= link_to booking.skill.name, booking_path(booking) %>: <%= booking.skill.description %>, booked by: <%= booking.user.username %>
    </li>
  </ul>
  <% end %>

  <% @bookings.each do |booking| %>
   <h4><strong><%= booking.user.email%></strong></h4>
   <h4><strong><%= booking.skill.description%></strong></h4>

<% end %>
