<!DOCTYPE html>
<html>
  <head>
    <title>InstantSkills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://res.cloudinary.com/dul2z0iaw/image/upload/v1669372616/logo_3_black_qij4zt.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>


  <body>
    <%= render "components/navbar"%>
    <div class="wrapper">

    <%= render "shared/flashes" %>
    <%= yield %>

    <% unless request.path == "/" %>
      <%= render "components/footer"%>
    <% end %>
    </div>
  </body>
</html>
